body {
  font-family: nobile;
}

.logo {
  height: 60px;
  padding-left: 40px;
}

:hover.logo {
  cursor: pointer;
}

.fb {
  height: 25px;
  margin-top: 15px;
}

:hover.fb {
  cursor: pointer;
}

:hover.home {
  color: blueviolet;
  cursor: pointer;
}

:hover.produit {
  color: blueviolet;
  cursor: pointer;
}

:hover.boutique {
  color: blueviolet;
  cursor: pointer;
}

footer {
  padding-top: 10vmin;
  padding-bottom: 5vmin;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: calc(14px + 2vw);
}

h2 {
  font-size: calc(14px + 1.5vw);
}

h3 {
  font-size: calc(14px + 0.5vw);
}

.presentation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 60px;
}

nav {
  display: grid;
  grid-template-columns: 30vw 1fr 1fr 1fr 10vw;
}

.title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh 10vh;
}

.drink {
  grid-column-start: 2;
  justify-self: center;
  /* centrer le texte dans grid **/
  color: blueviolet;
  padding-top: 1vw;
}

.new {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
  padding-top: 1vw;
}

.discover {
  grid-column-start: 2;
  grid-row-start: 3;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  margin-top: 43px;
  margin-left: 10vw;
  background-color: white;
  border-color: blueviolet;
}

:hover.discover {
  background-color: blueviolet;
  cursor: pointer;
}

.digitaline {
  height: 600px;
  border-style: solid;
  border-color: blueviolet;
  justify-self: center;
}

.canette {
  height: 600px;
  border-style: solid;
  border-color: blueviolet;
  justify-self: center;
}

.texte {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
  justify-self: center;
  border-style: solid;
  border-color: blueviolet;
  background-color: rebeccapurple;
  color: white;
  line-height: 25px;
  /* changer interlignage **/
}


#FlowerImg {
  cursor: pointer;
  transition: 0.3s;
}

#FlowerImg:hover {
  opacity: 0.7;
}


#CanetteImg {
  cursor: pointer;
  transition: 0.3s;
}

#CanetteImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(102, 16, 148, 0.5);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 400px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}